<!DOCTYPE html>
<html>
    <head>
        <title>Professor Homepage</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <h1>ACME University</h1>

        <h2>Course Enrollments</h2>
        <div class = "tableWrap">
            <div class="listButtons">
                <form action="{{ url_for('teacher_home') }}" method="get">
                    <button type="submit">Back</button>
                </form>
                <form action="{{ url_for('logout') }}" method="get">
                    <button type="submit">Sign out</button>
                </form>
            </div>

            <!--Table Display-->
            <table class="Gradebook">
                <thead>
                <tr>
                    <th>Course</th>
                    <th>Teacher</th>
                    <th>Student Name</th>
                    <th>Grade</th>
                </tr>
                </thead>

                <tbody>
                    {% for row in rows %}
                    <tr>
                        <td>{{ row.course_name }}</td>
                        <td>{{ row.teacher_name }}</td>
                        <td>{{ row.student_name }}</td>
                        <td>{{ row.grade }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4">No enrollments found.</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>


    </body>
</html>
