<!DOCTYPE html>
<html>
    <head>
        <title>Professor Homepage</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <h1>ACME University</h1>

        <h2>Your Courses</h2>
        <div class = "tableWrap">
            <div class="listButtons">
                <button onclick="">Sign out</button>
            </div>

            <!--Table Display-->
            <table class="Gradebook">
                <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Teacher</th>
                    <th>Time</th>
                    <th>Students Enrolled</th>
                </tr>
                </thead>

                <tbody>
                    <!--students name/grade will fill in here-->
                </tbody>

            </table>
        </div>


        <!--<script src ="script.js"></script>-->
        <!--for FLASK in static folder-->
        <script src="{{ url_for('static', filename='prof_script.js') }}"></script>

    </body>
</html>